<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <h1><%= title %></h1>
    <div><span><%= userInfor.name %></span>님 환영합니다.</div>
    <div>성별은 <span><%= userInfor.gender %></span> 입니다.</div>
    <div>생년월일은 <span><%= userInfor.year %></span>년 <span><%= userInfor.month %></span>월 <span><%= userInfor.date %></span> 일 입니다.</div>
    <div>관심사는 <span><%= userInfor.hobby %></span> 입니다.</div>

    <br />
    <a href="/getSign">이전 페이지로 이동</a>
</body>
</html>